/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html {
    background-color: #000000;
}

body {
    margin: 100px 0 0 0;
}

footer {
    margin: 0 0 0 0;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
}

main  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    
    margin: 0;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: white;

    text-decoration: none;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 57px;

    margin: 0 0 0 0;
} 

@media screen and (max-width: 1100px) {
    body {
        
        display: block;
    }

    div.left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    
    div.container {
        margin: 50px 0 0 0;
    }

    div.contact {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div.link {
        font-size: 10px;
    }

    div.arrow {
        font-size: 10px;
    }
}

.container {
    margin: 50px 20% 0 20%;
}

.linkBox:hover {
    border: 5px solid blueviolet;
    border-radius: 15px;
    background-color: blueviolet;

    padding: 5px 30px 10px 30px;
    margin: 0;

    transition: 0.3s;
}

.contact {
    display: flex;
    justify-content: space-between;

    margin: 0 0 150px 0;
}

.link {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;

    color: white;
    font-weight: bold;

    padding: 5px 20px 10px 20px;

    transition: 0.4s;
}

.me {
    font-size: 57px;
    font-family: 'Roboto Mono', monospace;

    margin: 0;

    padding-left: 8px;
}

.name {
    font-size: 80px;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    color: blueviolet;
    
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: white;

    margin: 0 0 0 0;

    padding-left: 8px;
}

.discription {
    font-size: 38px;
    color: white;

    font-family: 'Roboto Mono', monospace;
    margin: 100px 0 100px 0;

    padding-left: 8px;
}

.linkBox {
    display: flex;
    align-items: stretch;

    border: 5px solid black;
    border-radius: 15px;
    background-color: black;

    text-align: center;

    margin: 5px 30px 10px 30px;
    
    transition: 0.3s;
}

.arrow {
    font-size: 50px;

    color: blueviolet;
    text-decoration: none;
    font-weight: bold;

    margin: 0 20px 0 0;
}

.extend {
    font-size: 20px;
    color: white;
    color: blueviolet;
    font-weight: bold;
}