/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html {
    background-color: #000000;
}

body {
    margin: 0 0 0 0;
}

footer {
    margin: 0 0 0 0;
    padding: 20px;
}

main  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    
    margin: 0;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: white;

    text-decoration: none;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 57px;

    margin: 0 0 0 0;
} 

@media screen and (max-width: 1100px) {
    body {
        
        display: block;
    }

    div.left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    
    div.container {
        margin: 50px 0 0 0;
    }

    div.contact {
        margin-top: 200px;
    }

    div.link {
        font-size: 10px;
    }

    div.arrow {
        font-size: 10px;
    }
}

.container {
    margin: 200px 35% 0 15%;
}

.link:hover {
    color: blueviolet;
    padding-left: 40px;
}

.contact {
    margin: 0 0 150px 0;
}

.link {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;

    color: white;
    font-weight: bold;

    padding-right: 25px;

    transition: 0.4s;
}

.me {
    font-size: 57px;
    font-family: 'Roboto Mono', monospace;

    margin: 0;

    padding-left: 8px;
}

.name {
    font-size: 70px;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    color: blueviolet;
    
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: white;

    margin: 0 0 0 0;

    padding-left: 8px;
}

.discription {
    font-size: 38px;
    color: white;

    font-family: 'Roboto Mono', monospace;
    margin: 100px 0 100px 0;

    padding-left: 8px;
}

.linkBox {
    display: flex;
    align-items: stretch;

    margin: 15px 0 0 0;
}

.arrow {
    font-size: 50px;

    color: blueviolet;
    text-decoration: none;
    font-weight: bold;

    margin: 0 20px 0 0;
}

.extend {
    font-size: 20px;
    color: white;
    color: blueviolet;
    font-weight: bold;
}